.Button {
  min-width: 40px;
  width: calc(100% - 10px);
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.7);
  padding: 10px;
  margin: 0 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  transition: all .5s;

  &:disabled {
    opacity: 0.5;
  }

  &:active {
    box-shadow: inset 2px 2px 1px rgba($color: #000000, $alpha: 0.7);
  }

  &.primary {
    &.outlined {
      border: 2px solid var(--button-color-primary, blue);
      background: none;
      color: var(--button-color-text-primary, blue);

      &:hover {
        background: rgba($color: var(--button-color-primary, blue), $alpha: 0.2);
      }
    }

    &.contained {
      background: var(--button-color-primary, blue);

      &:hover {
        background: var(--button-color-dark-primary, rgb(0, 0, 120));
      }
    }

    &.text {
      background: none;
      border: none;
      box-shadow: none;
      color: var(--button-color-text-primary, blue);

      &:hover {
        color: var(--button-color-dark-primary, rgb(0, 0, 120));
        background: rgba($color: var(--button-color-primary, blue), $alpha: 0.2);
      }
    }
  }


  &.secondary {
    &.outlined {
      border: 2px solid var(--button-color-secondary, green);
      background: none;
      color: var(--button-color-text-secondary, green);

      &:hover {
        background: rgba($color: var(--button-color-dark-secondary, rgb(0, 77, 0)), $alpha: 0.2);
      }
    }

    &.contained {
      background: var(--button-color-secondary, green);

      &:hover {
        background: var(--button-color-dark-secondary, rgb(0, 77, 0));
      }
    }

    &.text {
      background: none;
      border: none;
      box-shadow: none;
      color: var(--button-color-text-secondary, green);

      &:hover {
        color: var(--button-color-dark-secondary, rgb(0, 77, 0));
        background: rgba($color: var(--button-color-secondary, green), $alpha: 0.2);
      }
    }
  }
}
