.Header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 15px 10px 65px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  background: var(--mainGrey-bg-color);

  .HeaderOptions{
    display: flex;
  }
}
